/*   
Theme Name: Neutica+
Theme URI: http://fthrwght.com/neuticaplus
Description: A WordPress child theme built on the <a href="http://wordpress.org/extend/themes/thematic">Thematic theme framework</a>.
Author: Allan Cole
Author URI: http://fthrwght.com/
Template: thematic
Version: 1.4.3
Tags: 2 Column, Theme Options, Minimal, Typography, 
.
Versions
1.4.3	- Fixes the Neutica+ Options page errors that some users were experiencing.
		- Fixes image URLs for posts without image attachments (no more broken thumbnail images).

1.4		- Initial Release.

Neutica+ is © Allan Cole for http://fthrwght.com/
.
*/

/* Reset browser defaults */
@import url('../thematic/library/styles/reset.css');

/* Apply basic typography styles */
@import url('../thematic/library/styles/typography.css');

/* The Grid (Uncomment this to show the grid) 
#wrapper {background:transparent url('img/grid.png') top left repeat;} */

/* Apply a basic layout */
body {min-width:1115px}
#wrapper {margin:0 0 0 0;}
#header {width:985px;position:relative;}
#branding {width:985px;margin:0;}
#access {position:relative;overflow:hidden}
#main {width:985px;margin:0;overflow:visible;position:relative}
#container {width:800px;float:left;display:block;}
#content {margin:0;width:800px;display:block;overflow:visible;}
#sidebar{width:185px;float:left;padding-top:15px;}
#footer {clear:both}
#siteinfo {clear:both;width:800px;margin:0}

/* Apply basic image styles */
@import url('../thematic/library/styles/images.css');

/* Prepare theme for plugins */
@import url('../thematic/library/styles/plugins.css');

/* =Global Elements
-------------------------------------------------------------- */
body {background:#FFF;color:#000;}
body, input, textarea {font-size:12px;font-family: Helvetica, HelveticaNeue, "Helvetica Neue", Arial, sans-serif;line-height:22px}
p, ul, ol, dd, pre{ margin-bottom:22px}
pre, code{font:14px Monaco,monospace; line-height:22px}
blockquote{font-style:italic}
table{ border:1px solid #ccc;border-width:1px 1px 0 1px;font-size:13px;line-height:18px;margin:0 0 22px 0;text-align:left}
caption{ text-align:left}
tr{ border-bottom:1px solid #ccc}
th, td{ padding:.7em 1.25em}
a {text-decoration:none;}
a:link, a:visited {color:#000;text-decoration:none;font-weight:600;}
a:active, a:hover {background:#000;color:#FFF;}
h1, h2, h3, h4, h5, h6 {font-weight:600;clear:none;}
input, textarea {background:#000;border-color: #000;border-width:1px;color:#FFF;}

/* =Header
-------------------------------------------------------------- */
#header {width:985px;clear:both;float:none;display:block;position:relative;}
#header a {text-decoration:none;}
#branding {display:table;vertical-align:middle;width:985px;}
#blog-title {font-size:64px;line-height:60px;letter-spacing:-2px;width:985px;display:inline;float:left;}
#blog-title a {display:block;padding:5px;}
#blog-title a span {}
#blog-description {display:table-cell;vertical-align:middle;line-height:48px;font-weight:400;width:275px;padding:5px;}

/* =Menu
-------------------------------------------------------------- */
#access {border-bottom:0; height:14px;font-size:14px; overflow:visible; z-index:100; margin:0 0 10px; position:relative;}
.skip-link{ display:none}

ul.xoxo {padding-left:25px;}

/* Essential Thematic styles */
#access .sf-menu,
#access .sf-menu *{margin:0; padding:0; list-style:none}
#access .sf-menu{line-height:1.0}
#access .sf-menu ul{position:absolute; top:-999em; width:10em; /* left offset of submenus need to match (see below) */}
#access .sf-menu ul li{width:100%}
#access .sf-menu li:hover{visibility:inherit; /* fixes IE7 'sticky bug' */}
#access .sf-menu li{float:left; position:relative}
#access .sf-menu a{display:block; font-weight:600; position:relative;}
#access .sf-menu li:hover ul,
#access .sf-menu li.sfHover ul{left:0; top:34px; /* match top ul list item height */z-index:99}
#access ul.sf-menu li:hover li ul, #access ul.sf-menu li.sfHover li ul{top:-999em}
#access ul.sf-menu li li:hover ul, #access ul.sf-menu li li.sfHover ul{left:10em; /* match ul width */top:-10px}
#access ul.sf-menu li li:hover li ul, #access ul.sf-menu li li.sfHover li ul{top:-999em}
#access ul.sf-menu li li li:hover ul, #access ul.sf-menu li li li.sfHover ul{left:10em; /* match ul width */top:-10px}

/* Header page menu styles */
#access .menu {width:985px;background:#000;}
#access .menu ul {margin:0 0 0 15px;display:table;border:none;background:#000;}
#access .menu ul li a {padding:5px;margin:0 1px 0 0;display:block;background:#000;color:#FFF}
#access .menu ul li a:hover {color:#000;background:#FFF;}
#access .menu ul li a:after {content:".";}
#access .menu ul li.current_page_item a {background:#FFF;color:#000;cursor:default;}
#access .menu ul li.current_page_item ul {background:#FFF;}
#access .menu ul li.current_page_item ul a {background:#000;color:#FFF}
#access .menu ul li.current_page_item ul a:hover {background:#FFF;color:#000}
#access .menu ul li.current_page_parent a {background:#FFF;color:#000}
#access .menu ul li.current_page_parent a:hover {background:#000;color:#FFF}
#access .menu ul li.current_page_parent ul li a {background:#000;color:#FFF}
#access .menu ul li.current_page_parent ul li a:hover {background:#FFF;color:#000}
#access .menu ul li.current_page_parent ul li.current_page_item a {background:#FFF;color:#000}

/* =Featured (Sticky) Posts
-------------------------------------------------------------- */
#neutica-feature {position:relative;float:none;clear:none;width:800px;background:#000; color:#FFF;margin:0;}
#neutica-feature .post.p1 {padding:10px 15px 15px;margin:0;width:555px;min-height:155px;clear:both;border:none;}
#neutica-feature .post p {margin:0;}
#neutica-feature .post h2 {margin-bottom:6px;font-size:24px;line-height:24px;}
#neutica-feature .post a {color:#FFF;font-size:24px;padding:5px;margin:auto -5px;}
#neutica-feature .post a:hover {color:#000;background:#FFF;}

/* =Navigation
-------------------------------------------------------------- */
.navigation, .attachment-nav{font-size:12px;background-color:#000;line-height:12px;padding:4px 10px 7px 10px;overflow:hidden}
.attachment-nav {margin-top:30px;}
.navigation a, .attachment-nav a{text-decoration:none;color:#FFF;display:block;padding:5px;margin:-5px;}
.navigation a:hover,.navigation a:active,.navigation a:focus{color:#000;background:#FFF;}
.navigation .meta-nav{font-style:normal}
.nav-previous, .attachment-previous{float:left;max-width:265px;padding-top:4px;}
.nav-next, .attachment-next{float:right;max-width:265px;text-align:right;padding-top:4px;}
#nav-above {min-width:775px;margin-bottom:0;display:none}
#nav-below {min-width:775px;margin-bottom:15px;}
.home .navigation {padding-top:0px;}
.paged #nav-above {display:none;}
.archive.paged #nav-above {display:none;margin-top:0px;}
.archive #nav-below {padding-top:0px;}
.home #nav-below {clear:both;float:none;display:block;margin-bottom:22px;}

/* =Content
-------------------------------------------------------------- */
#content {border-bottom:2px solid #000;}
.hentry {width:800px;min-height:380px;padding:15px 0;position:relative;display:block;overflow:hidden;border-bottom:2px solid #000;}
.p1 {padding-top:15px;padding-bottom:15px;}
.entry-title {font-size:24px;letter-spacing:-0.0125em;margin:-10px 0 0 565px;float:left;clear:right;font-weight:600;}
.entry-title a {color:#000;display:block;padding:15px 5px 15px;margin:-5px auto 0}
.entry-title a:hover {background:#000;color:#FFF;color:#000;}
.entry-meta {width:225px;margin:0 0 9px 15px;float:right;clear:right;display:inline;border-top:1px solid #000;color:#777}
.entry-utility {width:235px;margin:0 0 9px 0;float:right;clear:right;display:inline;color:#777}
.entry-content {clear:left;display:run-in;padding:0 0 0 0;margin-left:570px;margin-right:0px;text-align:justify;line-height:17px;}
.entry-content p {width:800px;font-size:12px;color:#777;text-align:justify;}
.entry-content p a {/*margin:auto -5px;padding:1px 5px;display:inline-block;*/}
.entry-content p a:hover {text-decoration:underline;color:#000;background:transparent;}
.entry-content img {margin-left:0px;}
.entry-content img.vertical, .entry-content img.horizontal {width:800px;}
.entry-content blockquote {padding:15px;margin:0 0 18px 95px;background:#000;color:#FFF;font-size:18px;letter-spacing:0.05em;font-weight:300;}
.entry-content blockquote p {margin:0;padding:10px 0;font-size:18px;letter-spacing:0.05em;font-weight:300;}
.entry-content blockquote a {color:#FFF;font-weight:600;}
.entry-content blockquote a:hover {color:#FFF;text-decoration:underline;}
.entry-content ul {list-style:square;list-style-position:inside;border-top:1px solid #000;margin-left:-5px;}
.entry-content ol {list-style:upper-alpha;list-style-position:inside;border-top:1px solid #000;margin-left:-5px;}
.entry-content ul li ul {margin-bottom:-1px;margin-left:15px;}
.entry-content ol li ol {list-style:lower-alpha;list-style-position:inside;margin-bottom:-1px;margin-left:15px;}
.entry-content ul li,
.entry-content ol li {border-bottom:1px solid #000;padding-left: 5px;}
.entry-content ul li a,
.entry-content ol li a {padding:2px 5px;margin:0 -5px;display:inline-block;}
.entry-content ul li a:hover,
.entry-content ol li a:hover {background:#000;color:#FFF;}
.entry-content ul#archives-page {border-top:none;margin-bottom:18px;width:800px;clear:both;display:table;}
.entry-content ul li.content-column {list-style:none;margin:0 0 18px;border:none;width:280px;float:left;clear:none;display:block;}
.entry-content ul li.content-column ul {margin-left:-5px;}
.entry-content ul li.content-column ul ul {margin-left:15px;}
.entry-content ul li.content-column ul li:hover,
.entry-content ul li.content-column ul li:hover a {background:#000;color:#FFF;}
.entry-content ul li#monthly-archives{float:right;}
.entry-content h1 {font-size:4em;line-height:1em;margin-bottom:18px;letter-spacing:-0.0125em;}
.entry-content h2 {font-size:3.25em;line-height:1em;margin-bottom:18px;letter-spacing:-0.0125em;}
.entry-content h3 {font-size:2.75em;line-height:1em;margin-bottom:18px;letter-spacing:-0.0125em;}
.entry-content h4 {font-size:2em;line-height:1em;margin-bottom:18px;}
.entry-content h5 {font-size:1.5em;line-height:1em;margin-bottom:18px;}
.entry-content h6 {font-size:1em;line-height:1em;margin-bottom:18px;}
.entry-content input, 
.entry-content textarea{font-size:14px;line-height:20px;padding:5px;margin: auto -5px;}
.entry-content textarea {width:573px;}

/* Thumbnails */
.entry-thumb-image {position:absolute;display:block;float:center;clear:left;width:550px;height:380px;background:transparent;text-align:center;overflow:hidden;margin-bottom:15px;}
.entry-thumb-image img {width:125%;position:relative;display:table-cell;margin-left:auto;margin-right:auto;vertical-align:middle;}
/*.entry-thumb-image img.horizontal {height:380px;max-width:550px;}*/
/*.entry-thumb-image img.vertical {width:550px;max-height:380px;}*/

/* Single posts */
.single .p1 {padding-top:22px;}
.single .hentry {border-bottom:none;}
.single .entry-title {font-size:36px;line-height:40px;display:block;padding:3px 25px 3px 25px;margin:0px -5px 0px;float:left;clear:right;font-weight:600;background:#2e3232;color:#FFF;}
.single .entry-meta, .single .entry-utility {width:225px;margin:0;float:right;clear:right;display:inline;}
.single .entry-content {clear:both;float:none;width:750px;display:table;padding:10px 0 0 0px;margin:0 0 0;}

/* Full posts */
.full-post {padding-top:22px}
.full-post .entry-title {font-size:48px;line-height:40px;width:375px;display:block;padding:0 5px 5px;margin:5px -5px 0;float:left;clear:right;font-weight:600;}
.full-post .entry-title a {padding:15px 10px;margin:-5px auto 0}
.full-post .entry-meta, .full-post .entry-utility {width:225px;margin:0;float:right;clear:right;display:inline;}
.full-post .entry-content {clear:both;float:none;width:800px;display:table;padding:10px 5px 0;margin:0 0 0;}

/* Pages */
body.page .hentry {margin-bottom:22px;}
body.page .p1 {padding-top:22px;}
body.page .entry-title {font-size:48px;line-height:40px;width:775px;display:block;padding:15px 10px 0px;;margin:0;float:left;clear:right;font-weight:600;}
body.page .entry-content {clear:both;float:none;width:800px;display:table;padding:15px 15px 0 0px;margin-left:0;}
.entry-title.single-page-title, .p1 .entry-title.single-page-title {font-size:48px;line-height:42px;width:800px;display:block;margin:0 -5px;float:left;clear:right;font-weight:600;padding:0 5px 15px;}

/* 404 */
.error404, .noresults {width:800px;padding:22px 0 15px;position:relative;display:block;overflow:hidden;border-bottom:5px solid #000;}
.four04 .entry-title, .search-no-results .entry-title {font-size:24px;letter-spacing:-0.0125em;width:225px;margin:-10px 0 0 15px;float:right;clear:right;font-weight:600;}
.four04 .entry-content, .search-no-results .entry-content {clear:left;display:run-in;padding:0 0px 0 5px;margin-left:560px;margin-right:0px;text-align:justify;line-height:17px;}
.four04 input#error404-s, .search-no-results input#noresults-s {margin:0 0 7px;padding:5px;width:273px;font-size:14px;line-height:20px;}
.four04 input#error404-searchsubmit, .search-no-results input#noresults-searchsubmit {font-size:16px;font-weight:600;padding:2px 5px;}

/* Single pages */
.meta-utility {padding:1px 0;line-height:17px;display:block;border-bottom:1px solid #000;padding:0px 5px 0 0;margin-bottom:-1px}
.meta-utility a {padding:2px 0;margin:00;display:inline-block;}
.meta-utility abbr {padding:2px 5px;margin:0 -5px;display:inline-block;border-bottom:none;font-weight:600;}
.meta-utility:hover, .meta-utility:hover a, .meta-utility a:hover, .meta-utility abbr:hover {background:#000;color:#FFF;}

/* Extras */
.feature-sticky {padding-top:10px;margin:0;}
.page-title {display:none;width:775px;padding:5px 0px 10px 5px;font-size:24px;background:#FFF;color:#000;}
.page-title a{text-decoration:none;color:#FFF;display:block;padding:5px;margin:-5px;}
.page-title a:hover,.navigation a:active,.navigation a:focus{color:#000;background:#FFF;}
.attachment .page-title, .tag .page-title, .date .page-title, .search .page-title {padding:10px 15px 15px;}
.page-title span {font-size:24px;}
.archive-meta {background:#000;color:#FFF;width:800px;}
.archive-meta p {margin-bottom:0;}
.page-link {border-top:5px solid #000;margin-left:-5px;padding:5px;font-size:16px;}
#author-info {background:#000;color:#FFF;padding:15px 15px 30px 75px;overflow:hidden;position:relative;}
#author-info .entry-title {display:none;}
#author-info a {color:#FFF;padding:0 5px;float:left;clear:none;display:inline-block}
#author-info img {float:right;width:52px;height:52px;position:absolute;left:15px;top:0;}
#wrapper a.post-edit-link, #wrapper a.comment-edit-link {color:red;}

/* =Comments
-------------------------------------------------------------- */
#comments{padding:22px 0 0 0;width:800px;font-size:13px;line-height:20px;}
#comments input, 
#comments textarea{font-size:14px;line-height:20px;padding:5px;margin: auto -5px;}
#comments textarea {width:100%;}
#comments input#submit {font-size:16px;font-weight:600;}
#comments code{ font-size:12px;  line-height:20px}
#comments h3{ letter-spacing:-0.0125em;font-size:24px;  font-weight:bold;  line-height:22px;  padding:0 5px 5px}
#comments-list{ padding:0 0 18px 0}
#comments-list ol, 
#comments-list ul{ list-style:none;  margin:0 0 -24px;}
#comments-list ol{ border-top:5px solid #000;  border-bottom:none;  margin:0 0 18px 0}
#comments-list li{ background:transparent; border-bottom:5px solid #000;  padding:5px 0;  position:relative}
#comments-list li.alt{}
#comments-list li.bypostauthor, #comments-list li.byuser {padding-top:0;}
#comments-list li.byuser .comment-author a, #comments-list li.byuser .comment-meta a, #comments-list li.byuser .comment-meta .meta-sep {color:#FFF;background:#000;}
#comments-list li.byuser .comment-author a:hover, #comments-list li.byuser .comment-meta a:hover {color:#000;background:#FFF;}
#comments-list li.byuser .comment-author, #comments-list li.byuser .comment-meta, meta-sep {background:#000;color:#FFF}
#comments-list li.byuser .comment-author {background:#000;color:#FFF;}
#comments-list ul li{ border:1px solid #000; border-width:5px 0 1px;  margin:0 0 18px 100px}
#comments-list li .avatar{ position:absolute;  top:6px;  left:5px;  width:48px;  height:48px}
#comments-list li.byuser .avatar {top:1px;}
#comments-list .comment-author{font-weight:bold; font-size:16px; padding:5px 0 0 60px;}
#comments-list .comment-author .fn a {padding:4px 5px; margin:auto -5px;}
#comments-list .comment-meta{ font-size:11px; padding:0 0 10px 60px; border-bottom:1px solid #000;color:#777}
#comments-list li.byuser .comment-meta {padding-bottom:9px;}
#comments-list .comment-meta a{text-decoration:none; padding:3px 5px; margin:auto -5px;}
#comments-list .comment-meta a:active, 
#comments-list .comment-meta a:hover{}
#comments-list .comment-content {padding:5px;line-height:22px;}
#comments-list .comment-content p {color:#777}
#comments-list .comment-content ul,
#comments-list .comment-content ol  {margin-bottom:18px;}
#comments-list .comment-content ul li,
#comments-list .comment-content ol li {border:none;padding:0;margin:0;list-style:square;list-style-position:inside;}
.comment-reply-link{ font-size:12px;padding:0;text-align:right;}
.comment-reply-link a{text-decoration:none;padding: 5px;}
.comment-reply-link a:active, 
.comment-reply-link a:hover{}
.comment-navigation{ font-weight:bold;  padding:0 0 18px 0;  margin-right:0.5em}
.comment-navigation a{ border:1px solid #000;  font-weight:normal;  padding:0.5em 0.75em;  text-decoration:none}
.comment-navigation a:active, 
.comment-navigation a:hover{}
.comment-navigation a, 
.comment-navigation span{}
#trackbacks-list .comment-author{font-size:16px; padding:3px 5px;border-bottom:1px solid #000;}
#trackbacks-list .comment-author a {font-weight:bold;}
#trackbacks-list .comment-content{display:none;}
#trackbacks-list ol, 
#trackbacks-list ul{ list-style:none;  margin:0 0 -24px;}
#trackbacks-list ol{ border-top:5px solid #000;  border-bottom:none;  margin:0 0 18px 0}
#trackbacks-list li{ background:transparent;padding:0;  position:relative}
#trackbacks-list li a {padding:5px;margin:-5px;}

#respond{ background:transparent;  margin-bottom:22px;  overflow:hidden;  padding:18px 0;  position:relative}
#respond h3 {border-bottom:5px solid #000;}
#comments-list #respond{ border-bottom:1px solid #000;  margin:0 0 18px 0;  padding:18px 0;}
#comments-list #respond h3 {border-bottom:1px solid #000;}
#comments-list ul #respond{ margin:0 0 0 100px;border-bottom:none;}
#comments #login {padding:3px 5px;}
#comments #login a {padding:5px;margin:-5px;}
#cancel-comment-reply {float:right;margin-top:3px;}
#cancel-comment-reply a{text-decoration:none;padding:5px;}
#respond .required{ color:#FF4B33;  font-weight:bold}
.form-section {padding:0 5px}
.form-section label{font-size:12px;}
.form-section input{margin:0 0 18px 0;}
.form-section textarea{width:100%}
#form-allowed-tags p{color:#000;font-size:11px;  margin:0}
#form-allowed-tags span{font-style:italic}
#form-allowed-tags code{font-size:11px;  line-height:normal}
.form-submit{ padding:18px 5px 0;text-align:left;}
.subscribe-to-comments{color:#000;float:left;  font-size:11px;  margin:0;  padding:18px 0 0 0}
.solo-subscribe-to-comments{ color:#000;  font-size:11px;  padding:18px 0 0 0}
.comment_license{ color:#000;  clear:both;  font-size:11px;  margin:0;  padding:18px 0 0 0}

/* =Asides
-------------------------------------------------------------- */
.aside h3 {font-size:16px;line-height:16px;letter-spacing:-0.0125em;padding:0 5px 5px;margin:0;}
.aside ul {list-style:none;margin:0;color:#777}
.aside ul li.widgetcontainer {border:none;margin-bottom:24px;}
.aside ul li.widgetcontainer ul {border-top:1px solid #000;margin-top:-1px;}
.aside ul li.widgetcontainer ul li {padding:0;border-bottom:1px solid #000;}
.aside ul li.widgetcontainer ul li ul {list-style:square;list-style-position:inside;margin-left:0px;margin-bottom:-1px;}
.aside ul li.widgetcontainer ul li a {display:inline-block;padding:0 5px 1px;}
.aside ul li.widgetcontainer ul li a:hover,
.aside ul li.widgetcontainer ul li:hover,
.aside ul li.widgetcontainer ul li:hover a {background:#000;color:#FFF;}
.aside ul li.widgetcontainer ul li ul a {margin: auto -5px;}

/* In-content widget styles */
#content .aside {background:#000;color:#FFF;}
#content .widgetcontainer {margin:0;}
#content .widgetcontainer h3 {border-color:#FFF;padding-bottom:4px;}
#content .widgetcontainer ul {border:none;}
#content .widgetcontainer ul li {margin:0;padding:0;display:inline-block;border-color:#FFF;border-bottom-width:0;}
#content .widgetcontainer ul li ul{display:none;}
#content .widgetcontainer a {color:#FFF;}
#content .widgetcontainer a:hover {background:#FFF;color:#000;}

#leading-sidebar {margin-bottom:0;}
#primary {width:185px;float:left;}
#secondary {width:185px;float:left;clear:right;}
#index-top, #single-top, #page-top {clear:both;float:none;padding:15px;margin-top:15px;}
#index-bottom, #single-insert, #single-bottom, #page-bottom {clear:both;float:none;padding:15px;margin-bottom:35px;}

/* =Widgets
-------------------------------------------------------------- */
.aside li#search input#s {width:158px;padding:1px;}
.aside li#search h3 {border:none;}
.aside li#search input#searchsubmit{display:none;}
.aside li#search {text-align:left;}
.aside li.widget_tag_cloud{margin:0 0 21px 0}
.aside li.widget_tag_cloud div {padding:5px;border-bottom:1px solid #000;}
.aside li.widget_tag_cloud a {padding:5px;margin:-5px;}
.aside ul li.widgetcontainer.widget_recent_entries ul li {padding:1px 5px 0;}
.aside ul li.widgetcontainer.widget_recent_entries ul li a {padding:0;line-height:14px;}
.aside li.widget_recent_comments li.recentcomments {padding:5px 5px 6px;line-height:12px;}
.aside li.widget_recent_comments li.recentcomments a {padding:0;}
.aside li.widget_calendar {margin-top:24px;}
.aside li.widget_calendar h3 {display:none;}
.aside li.widget_calendar caption {font-size:16px;padding:0 5px 5px;margin-top:0;font-weight:600;}
.aside li.widget_calendar #calendar_wrap {width:133px;padding:0;margin:0;font-size:10px;display:block;}
.aside li.widget_calendar table {border-width:5px 0px 1px;margin:0;width:100%;}
.aside li.widget_calendar th,
.aside li.widget_calendar td{padding:3px 4px;font-size:10px;border-width:1px 0;}
.aside li.widget_calendar td a {display:inline-block;padding:3px 4px;margin:-3px -4px;}
.aside li.widget_calendar td#next {text-align:right;}
#sidebar .aside li.widget_text {margin-top:0;padding:0;}
#sidebar .aside li.widget_text .textwidget {padding:5px;border-bottom:1px solid #000;}

/* Custom page menu widget */
#leading-sidebar .widget-title {display:none;}
#leading-sidebar .menu {width:200px;padding:0;right:0;background:#000;display:none}
#leading-sidebar .menu ul {width:200px;font-size:24px;margin:0;padding:10px;display:table;border:none;}
#leading-sidebar .menu ul li {display:inline;float:left;}
#leading-sidebar .menu ul li a {padding:5px;margin:0;display:block;color:#FFF}
#leading-sidebar .menu ul li a:hover {color:#000;background:#FFF;}
#leading-sidebar .menu ul li a:after {content:".";}
#leading-sidebar .menu ul li.page_item ul, #leading-sidebar .menu ul li.page_item ul li, #leading-sidebar .menu ul li.page_item ul li a {display:none;border:none;width:0;height:0;}
#leading-sidebar li.widget_calendar #calendar_wrap {width:200px;padding-bottom:24px;}
#leading-sidebar li#search input#s{margin:0 0 7px;padding:2px;width:155px;font-size:12px;line-height:20px;}

/* Do not place the custom Neutica+ page menu widget in Primary or Secondary sidebars. */
#secondary #neutica-page-menu,
#primary #neutica-page-menu {display:none;}

/* =Footer
-------------------------------------------------------------- */
#siteinfo {padding:5px;border-top:0px solid #000;margin-top:15px;margin-bottom:15px;}
#siteinfo p {margin:5px 0;}
#siteinfo small {display:none;}

/* =Images
-------------------------------------------------------------- */
.alignleft, 
img.alignleft{float:left;  margin-right:20px}
.alignright, 
img.alignright{display:block; float:right;  margin-left:20px; margin-right:-5px;}
.aligncenter, 
img.aligncenter{margin-left:auto; margin-right:auto; display:block; clear:both}
.wp-caption{text-align:center; margin-bottom:18px}
.wp-caption img{margin:0; padding:0; border:0 none}
.wp-caption p.wp-caption-text{margin:0; padding:5px}
.gallery a {border:none;background:transparent;}
.gallery a:hover {border:none;background:transparent;text-decoration:underline}
.gallery img{margin:0}
.wp-smiley{/* Prevent the smileys from breaking line-height */max-height:12px; margin:0 !important}

/* =Browser Proofing
-------------------------------------------------------------- */
.msie.ie6 #primary {margin-right:20px;}